<web-app>
<servlet>
<servlet-name>jarseyServlet</servlet-name>
<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>jarseyServlet</servlet-name>
<url-pattern>/*</url-pattern>
</servlet-mapping>
<welcome-list>index.html</welcome-list>
<context-param>
    <param-name>
        javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
    </param-name>
    <param-value>true</param-value>
</context-param>
</web-app>